Resource_1 RCDATA "D:\\закачка\\Blib\\Blib.exe\\Energy.wav"
Resource_2 RCDATA "D:\\закачка\\Blib\\Blib.exe\\Error.wav"
Resource_3 RCDATA "D:\\закачка\\Blib\\Blib.exe\\Exit.wav"
Resource_4 RCDATA "D:\\закачка\\Blib\\Blib.exe\\Heart.wav"
Resource_5 RCDATA "D:\\закачка\\Blib\\Blib.exe\\Hidefree.wav"
Resource_6 RCDATA "D:\\закачка\\Blib\\Blib.exe\\Hidewall.wav"
Resource_7 RCDATA "D:\\закачка\\Blib\\Blib.exe\\Water.wav"
